



.loginpage{
  width: 55%;
  height: 100vh;

}
.login{
  width: 55%;
  height: 100vh;
 
 
}

/* Center the login card */
.limiter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the card takes at least the full viewport height */
  background: #f1f1f1; /* Set a background color if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.limiter {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/06/06/27/background-3202671_640.jpg");
  /* background-image: url("https://cdn.pixabay.com/photo/2017/09/08/15/42/abstract-2729141_1280.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background:  #010a05e1 ; */
  position: relative;
  z-index: 1
}

/* Add a semi-transparent black overlay */
.limiter::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.53); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind the content */
}
.login_topimg {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 60%;
  min-height: 8rem;
margin-top: 1.5rem;
  background: #91B3D1 url("https://cdn.pixabay.com/photo/2012/04/24/23/52/wedding-41210_640.png") no-repeat;
  background-size: auto;
  background-position: top;
}
/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
/*.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
*/
.login-header {

 color: #05a;
  padding: 5px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

}

.login-container {
 
  width: 60%;
  height: 60vh;
  background: #ebebeb;
 border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
transition: all 1s;
}

.register-container{
  width: 60%;
  height: 68vh;
  background: #ebebeb;
border-radius: 5px;
transition: all 1s;

}

.login-form{
  max-width: 85%;
  width: 90%;
margin: 0 auto;
margin-bottom: 1rem;
display: flex;
flex-direction: column;
gap: 0.7rem;
}

/* Every row inside .login-container is defined with p tags */


.input-field {
 width:98% !important;

  padding: 10px;
 
}



/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login .submit-btn {
 width: 100%;
  background: rgba(2, 101, 158, 0.685);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
}

.login .submit-btn:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login .submit-btn:focus {
  border-color: #05a;
}
.login-btns{
  width: 98%;
display: flex;
  flex-direction: column;
  gap:1rem ;

}

.remember-me{
  font-size: 14px;
  font-weight: 300 !important;

}

.forgot-password{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.forgot{
  color: blue;
 text-decoration: underline;
 margin-right:10px;
 cursor: pointer;
}


.login-signup {
  text-align: center;
  color: #c5c5c5;
  margin-top: 0.5rem;
  font-size: 14px;
}

.login-signup-bold {
  
  color: #1890ff;
  cursor: pointer;
}


/* ------register form------------ */

.register-form{
  max-width: 85%;
  width: 90%;
margin: 0 auto;
margin-bottom: 1rem;
display: flex;
flex-direction: column;
gap: 0.7rem; 
border-radius: 5px;
}

.register-header{
  color: #05a;
  padding: 5px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}




/* <----------social bns------> */
.middle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: #3498db;
  overflow: hidden;
  position: relative;
  border-radius: 30%;
  background: #f1f1f1;
  text-decoration: none;
  box-shadow: 0 5px 15px -5px #00000070;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  }
  
  


@keyframes animation1 {
  0% {
    top: 90%;
    left: -110%;
  }

  50% {
    top: -30%;
    left: 10%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}















/* <---------VARIABLES--------> */
:root {
  --blue: #0a2bc5;
  --yellow: #ffcc2f;
}

/* <==========================================LEFT SIDE======================================================> */

.sliders {
  width: 100%;
  display: flex;
  height: 100vh;
}

.sliders__left {
  width: 45%;
  height: 100vh;
  overflow: hidden;
  flex-basis: 45%;

}
.slides {
  width: 500%;
  display: flex;
  height: 100vh;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  height: 100vh;
  transition: 2s;
  
}

.slide img {
  width: 100%;
  height: 100vh;

}

.slide img {

  position: relative;
  z-index: 1
}

.slide::before {
  content: "";
  color: #ffcc2f;
  background-color: rgba(0, 0, 0, 0.201); /* Adjust the alpha value for the desired transparency */
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100vh;
  z-index: 2; /* Place it behind the content */
}









.manuals {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  margin-top: -40px;
  z-index: 5;
  /* filter: blur(2px);  */
  transition: 1s;
  display: none;
}
.manual {
  border: 4px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
  z-index: 5;
}
.manual:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}


.slides__auto {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 94%;
  z-index: 5;
}
.slides__auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
}


#radio1:checked ~ .slides__auto .auto1 {
  background: #4caf50;
}
#radio2:checked ~ .slides__auto .auto2 {
  background: #4caf50;
}
#radio3:checked ~ .slides__auto .auto3 {
  background: #4caf50;
}
#radio4:checked ~ .slides__auto .auto4 {
  background: #4caf50;
}

@media (max-width: 850px) {
  .login{
    width: 100%;
    
  }
  .sliders__left{
    display: none;
  }




}

.signin-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: bold;
  background-color: #fff;
  color: #686868;
    cursor: pointer;
padding: 1.2rem;
    line-height: 1.2;
   
  
}

.login-signup {
  text-align: center;
  color: #c5c5c5;
  margin-top: 0.5rem;
}

.login-signup-bold {
  
  color: #1890ff;
  cursor: pointer;
}


