




/* Fixed header */
.header-outer {
	/* Make it stick */
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	/* Other */
	background-color:rgba(0, 7, 10, 0.772);
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.header-logo img{
    width: 6rem;
  
}

